server:
  port: ${SERVER_PORT:9877}

spring:
  application:
    name: catalog-service

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when-authorized

logging:
  level:
    root: INFO
    com.vshpynta.catalog: DEBUG
